require('node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min.css');
.error {
  color: red;
  font-weight: bold;
}

.nav-bar{
  display: inline-flex;
  width: 90%;
  margin-left: 10%;
}

.background {
  background-image: url('pexels-photo-207896.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFFF;
  width: 90%;
  padding-top: 50px;
  margin:auto;
  margin-top: 50px;
  height: auto;
}

.nav-bar {
  margin: 10px;
  width: 100%;
  padding: auto;
}

.active{
  background-color: grey;
}