require('node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min.css');
.error {
  color: red;
  font-weight: bold;
}

.nav-bar{
  display: inline-flex;
  width: 90%;
  margin-left: 10%;
}

.background {
  background-image: url('pexels-photo-207896.jpeg');
  color: #FFFF;
  /* padding: 20px 20px 10px 10px; */
  /* margin-top: 30px; */
  /* margin-bottom: 10px; */
  width: 90%;
  padding-top: 50px;
  margin:auto;
  height: auto;
}

.nav-bar {
  margin: 10px;
  width: 100%;
  padding: auto;
}

.active{
  background: grey;
}